<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <h1>This is admin</h1>
    <form method="post">
      <fieldset>
        <legend>Admin Panel</legend>
        <table>
          <tr>
            <td>
              <input type="submit" name="addEmp" value="AddEmployee" />
            </td>
            <td>
              <input type="submit" name="allEmp" value="AllEmpList" />
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </body>
</html>
